/**
 * Page footer
 */

/**
 * Init
 *
 * Define variables, helper mixins and animations
 * local to this component
 */

/**
 * Component classes
 */

    #site-footer{
        min-height:40px;
        background:$blue;
        &,
        p{
            color:$white;
            line-height:40px;
            vertical-align:middle;
        }
        a{
            color:$white;
        }
    }

/**
 * Modernizr hooks
 */

/**
 * Media queries
 */
     @include breakpoint(mobile){
        #site-footer{
            padding:$raw-gutter;
            p{
                line-height:1.4em;
                margin:0;
            }
        }
    }

/**
 * IE overrides
 */
