/**
 * Page header
 */

/**
 * Init
 *
 * Define variables, helper mixins and animations
 * local to this component
 */


/**
 * Component classes
 */

#site-header{
    box-sizing:border-box;
    position:absolute;
    top:0;
    left:0;
    height:40px;
    width:100%;
    border-bottom:solid 1px $blue;
    &,
    a{
        color:$blue;
        line-height:40px;
    }
}

    #site-title{
        margin:0 $raw-gutter*2 0 0;
        float:left;
        font-size:1.3em;
        font-weight:700;
        a:hover{
            text-decoration:none;
        }
    }

    .internal-content{
        .nav-link{
            float:left;
            margin-right:$raw-gutter;
        }
            li:last-child .nav-link{
                margin-right:0;
            }
    }

    // External link gallery
    .external-content{
        position:absolute;
        top:0;
        right:$raw-gutter;
        padding-left:80px;
        a{
            margin-right:0.5em;
            line-height:40px;
            i{
                font-size:1.6em;
                line-height:40px;
            }
            span{
                display:none;
                position:absolute;
                left:0;
                top:0;
            }
            &:hover{
                span{
                    display:block;
                }
            }
        }
        ul{
            list-style:none;
        }
            li{
                float:left;
            }
    }

/**
 * Modernizr hooks
 */

/**
 * Media queries
 */
     @include breakpoint(mobile){
        .external-content{
            display:none;
        }
    }

/**
 * IE overrides
 */
