/**
 * Page content
 */

/**
 * Init
 *
 * Define variables, helper mixins and animations
 * local to this component
 */
    // $sample-var:foo;
    // @mixin sample-mixin($args:default){}
    // @keyframes sample{}

/**
 * Component classes
 */

#site-content{
    box-sizing:border-box;
    width:100%;
    margin:60px auto $raw-gutter auto;
    background:$white;
}

/**
 * Modernizr hooks
 */

/**
 * Media queries
 */

/**
 * IE overrides
 */
