/**
 * Page outer
 */

/**
 * Init
 *
 * Define variables, helper mixins and animations
 * local to this component
 */

/**
 * Component classes
 */

.inner-wrap{
    box-sizing:border-box;
    max-width:$raw-width;
    margin:0 auto;
    padding:0 $raw-gutter;
    position:relative;
}

/**
 * Modernizr hooks
 */

/**
 * Media queries
 */

/**
 * IE overrides
 */
