/**
 * Page content
 */

/**
 * Init
 *
 * Define variables, helper mixins and animations
 * local to this component
 */

/**
 * Component classes
 */

#site-content{
    box-sizing:border-box;
    width:100%;
    margin:100px auto $raw-gutter auto;
    background:$white;
}

/**
 * Modernizr hooks
 */

/**
 * Media queries
 */
     @include breakpoint(mobile){
        #site-content{
            margin-top:60px;
        }
    }

/**
 * IE overrides
 */
