h1.content.inset= title
div#copy.content
	p If you have anything to say or ask me send me a message here or just tweet me 
		a(href='www.twitter.com/#!ppjim3') @ppjim3
	form
		label Name
			input(type='text', name='name')