div.row-fluid
	div.span12
		div.row-fluid
			div.span12.blog
				.blog-copy !{blog}
			//div.span3.projects
				h2 Projects
				div.project
					h3.title.project-title Soundbaker 
						small.link.project-link
							a(href='//www.soundbaker.com.au', target='_blank') soundbaker.com
					.date.project-date  
						i.icon-calendar 
						span  Launched in 2012
					p.description.project-description An information & project list for Perth music recoding studio Soundbaker. We used Wordpress for familiarity and simplicity of use for him to consistently add new projects and news.
					a(href='//soundbaker.com.au', title='View SoundBaker website')
						img.screenshot.project-screenshot(src='images/latest-proj-soundbaker.jpg', alt='Soundbaker')
					.tags.project-tags Design, CSS, HTML, JS, Wordpress
				div.project
					h3.title.project-title Swim-In 
						small.link.project-link 
							a(href='//www.swim-in.com.au', target='_blank') swim-in.com.au
					.date.project-date  
						i.icon-calendar 
						span  Launched in 2007 - Ongoing
					p.description.project-description A large ecommerce store specializing in pool equipment, supplies, and all related products. Shipping from Perth, Western Australia we've grown to one of the largest stores in the online pool space.
					a(href='//soundbaker.com', title='View the Soundbaker website')
						img.screenshot.project-screenshot(src='images/latest-proj-swimin.jpg', alt='Swim In Pool Supplies')
					.tags.project-tags Design, CSS, HTML, JS, eCommerce, Paymen Gateway, PHP
				div.project
					h3.title.project-title New Edition 
						small.link.project-link 
							a(href='//www.newedition.au', target='_blank') newedition.com.au
					.date.project-date 
						i.icon-calendar 
						span  Launched in 2009 - Ongoing
					p.description.project-description A local lit-based book store selling the latest, and best, books. We launched a new eCommerce system in 2011 to allow them access to customers throughout Australia.
					a(href='//newedition.com.au', title='View New Edition website')
						img.screenshot.project-screenshot(src='images/latest-proj-newedition.jpg', alt='New Edition Bookstore Perth')
					.tags.project-tags CSS, HTML, JS, eCommerce, Paypal, PHP
