extends base
include posts/mixins

block copy
	each post in posts
		mixin singlepost(post, false)
	- if (pagination.prev || pagination.next)
		nav.pagination
			ul
				- if (pagination.prev)
					li.prev
						a(href='?page=#{pagination.prev}')
							span.optional Read
							|  Newer
							span.optional  Posts
				- if (pagination.next)
					li.next
						a(href='?page=#{pagination.next}')
							span.optional Read
							|  Older
							span.optional  Posts
