extends base

block copy
	h1.post-title Login
	form.login(action='/login', method='post')
		ol
			li
				label: span Username
				input(type='text', name='username')
			li
				label: span Password
				input(type='password', name='password')
			li
				input(type='submit', name='login', value='authenticate')
