extends base

block copy
	h1.p-title #{page_title}
	.p-copy.clearfix
		:markdown
			I'm an on-again off-again musician, playing gigs in Perth and writing
			and recording my own music. My current band is called My Mad Flow
			and is currently on haitus due to life, however we've finished
			recording our second EP which can now be found online.

		.column
			h2.c-title My Mad Flow
			:markdown
				![My Mad Flow // jimmy damien beccy tyler lindsay](/images/mmf-group.jpg "My Mad Flow")

				[My Mad Flow](//mymadflow.com/ "My Mad Flow") is an indie five piece
				from Perth, Australia. With influences from the 60s to the punk
				attitudes of the 90s we’re writing music you can live to. Come drink
				some wine with us and listen to some music. We always have something
				to say about everyone and everything.

				Our first 6 track EP, [We Can't Always Pretend We're Innocent]
				(http://itunes.apple.com/au/album/we-cant-always-pretend-were/id339652017 "Download We Can't Always Pretend We're Innocent"),
				is available on iTunes or on Spotify and Rdio or alternatively you can
				stream the entire record on Soundcloud right now.

				[LISTEN NOW: We Can't Always Pretend We're Innocent]
				(//soundcloud.com/mymadflow/sets/we-cant-always-pretend-were/)

				Our second record "You'll Find Meaning Where You Want It" will be
				released digitally in 2013. We've dropped a few tracks online on
				our Soundcloud so you can listen to those there.

				[LISTEN NOW: You Will Find Meaning Where You Want It]
				(//soundcloud.com/mymadflow/sets/you-will-find-meaning-where/)

		.column
			h2.c-title Happy Habsburgs
			.c-copy
				:markdown
					My current project, which is made up of recordings done in the
					bedroom with a guitar and voice. Attempting to simplify everything I
					write and record and set limits to the amount of layers I use in
					hopes of writing songs that work, regardless of the complexity.

			h2.c-title XOXO
			.c-copy
				:markdown
					*The Only Time I Remember Is The One Time You Said No*

					![XOXO Album Artwork](/images/xoxo-artwork.jpg "XOXO")

					This electronic record was recorded in 2002. It was a way for me
					to experiment with building songs without the use of a single real
					instrument. I made heavy use of a digital Moog synthesizer and was
					really happy with the results. Nothing too dancy, nothing too happy.

					[LISTEN NOW: The Only Time I Remember, Is The One Time You Said No]
					(https://soundcloud.com/jimmyhillis/sets/the-only-time-i-remember-is-the-one-time-you-said-no)
