.p-title{
    font-size:3em;
    border-bottom:solid 1px grey;
    margin:1em 0 0.5em 0;
    padding:0 0 0.5em 0;
    text-align:center;
    text-transform:uppercase;
}

.p-date{
    text-align: center;
    line-height:1.2em;
    margin-bottom:2em;
}

.p-body{
    padding:0 2em;
    p:first-child {
        text-transform:uppercase;
        font-size:1.3em;
        line-height:1.4em;
        text-align:center;
        margin-left:-2em;
        margin-right:-2em;
    }
}

.p-comments{
    border-top:solid 1px grey;
    // width:70%;
    // font-size:3em;
    margin:2em 0 0 0;
    padding:0 2em;
    h2{
        color:@col-babyblue;
    }
}

.p-showcomments{
    text-align:center;
    text-transform:uppercase;
    display:block;
    em{
        text-decoration:underline;
        font-style:normal;
    }
}
