/**
 * Page footer
 */

/**
 * Init
 *
 * Define variables, helper mixins and animations
 * local to this component
 */

/**
 * Component classes
 */

    #site-footer{
        height:40px;
        background:$blue;
        &,
        p{
            color:$white;
            line-height:40px;
            vertical-align:middle;
        }
        a{
            color:$white;
        }
    }

/**
 * Modernizr hooks
 */

/**
 * Media queries
 */

/**
 * IE overrides
 */
