@font-face {
	font-family: 'LiberationSansRegular';
	src: url('/fonts/fonts/LiberationSans-Regular-webfont.eot');
	src: url('/fonts/LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/LiberationSans-Regular-webfont.woff') format('woff'),
		url('/fonts/LiberationSans-Regular-webfont.ttf') format('truetype'),
		url('/fonts/LiberationSans-Regular-webfont.svg#LiberationSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LiberationSansItalic';
	src: url('/fonts/LiberationSans-Italic-webfont.eot');
	src: url('/fonts/LiberationSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/LiberationSans-Italic-webfont.woff') format('woff'),
		url('/fonts/LiberationSans-Italic-webfont.ttf') format('truetype'),
		url('/fonts/LiberationSans-Italic-webfont.svg#LiberationSansItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LiberationSansBold';
	src: url('/fonts/LiberationSans-Bold-webfont.eot');
	src: url('/fonts/LiberationSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/LiberationSans-Bold-webfont.woff') format('woff'),
		url('/fonts/LiberationSans-Bold-webfont.ttf') format('truetype'),
		url('/fonts/LiberationSans-Bold-webfont.svg#LiberationSansBold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'LiberationSansBoldItalic';
	src: url('/fonts/LiberationSans-BoldItalic-webfont.eot');
	src: url('/fonts/LiberationSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/LiberationSans-BoldItalic-webfont.woff') format('woff'),
		url('/fonts/LiberationSans-BoldItalic-webfont.ttf') format('truetype'),
		url('/fonts/LiberationSans-BoldItalic-webfont.svg#LiberationSansBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('/fonts/Chunkfive-webfont.eot');
	src: url('/fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Chunkfive-webfont.woff') format('woff'),
		url('/fonts/Chunkfive-webfont.ttf') format('truetype'),
		url('/fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}