@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro:300');

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic);

@import 'prettify.css';
/*================
Styles for screen and print
Version 3.0
Author: Hatchd
Created: 02.08.2012
==================*/
@font-face {
  font-family: 'equal-sans';
  src: url('../fonts/equal-sans/equalsans_demo-webfont.eot');
  src: url('../fonts/equal-sans/equalsans_demo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/equal-sans/equalsans_demo-webfont.woff') format('woff'), url('../fonts/equal-sans/equalsans_demo-webfont.ttf') format('truetype'), url('../fonts/equal-sans/equalsans_demo-webfont.svg#equal_sans_demoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
}
a:active,
a:hover {
  outline: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 15px;
  line-height: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
}
p {
  margin: 0 0 1em 0;
}
hr {
  border-top: 1px dotted #cccccc;
  padding: 1em 0;
  margin: 2em 0 0 0;
}
sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ins {
  background-color: #fffb88;
}
del {
  text-decoration: line-through;
}
s {
  color: #cccccc;
  text-decoration: line-through;
}
mark {
  background-color: #fffb88;
  color: inherit;
  font-weight: normal;
}
small {
  font-weight: normal;
  font-style: normal;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
dfn,
abbr {
  font-style: inherit;
  position: relative;
}
hgroup {
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5em;
  line-height: 1.15em;
  font-weight: normal;
  margin: 1em 0 0.5em 0;
  position: relative;
  clear: both;
  font-family: 'equal-sans', Helvetica, sans-serif;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2em;
}
hgroup {
  margin: 0 0 1em 0;
}
hgroup h1,
hgroup h2,
hgroup h3 {
  margin: 0;
}
ul,
ol,
dl {
  margin: 0 0 1em 2em;
  padding: 0;
}
ul li,
ol li {
  margin: 0 0 0.25em 0;
}
ul {
  list-style: disc outside;
}
ul ul {
  margin: 0.25em 0 0.5em 1em;
}
ol {
  list-style: decimal outside;
}
ol ol {
  margin: 0.25em 0 0.5em 1.5em;
  list-style-type: lower-roman;
}
dl {
  margin-left: 0;
}
dt {
  font-weight: bold;
  margin: 0 0 0.5em 0;
  padding: 1em 0 0 0;
}
dd {
  margin: 0 0 0.5em 0;
}
blockquote {
  margin: 0 0 2em 0;
  padding: 1em 0 0 0;
}
blockquote > p {
  color: #000000;
  padding: 0 1em;
  font-size: 1.6em;
}
blockquote footer {
  display: block;
  margin: 0.5em 0 0 0;
  padding: 0 0 0 1em 0;
}
q {
  font-style: italic;
  color: inherit;
}
cite {
  font-style: italic;
}
pre {
  white-space: pre;
  overflow: auto;
  margin: 2em -2em 2em -2em;
  padding: 2em;
  background: #333333;
  color: #ffffff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
pre code {
  border: none;
}
code {
  padding: 0 4px;
  border: solid 1px #cccccc;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  line-height: 1.3em;
  max-width: 100%;
  overflow: hidden;
}
code,
samp,
kbd {
  display: inline-block;
  font-size: 0.9em;
  font-family: 'Source Code Pro', sans-serif;
  opacity: 0.9;
}
var {
  font-style: italic;
  font-weight: bold;
}
/*================
Links
==================*/
a,
a:link,
a:visited {
  color: #24c0eb;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
  text-decoration: underline;
}
::selection {
  color: #ffffff;
  background: #24c0eb;
}
::-moz-selection {
  color: #ffffff;
  background: #24c0eb;
}
/*================
Form elements
==================*/
/*Set global constants*/
form {
  position: relative;
  margin: 0 0 1em 0;
}
fieldset {
  margin: 0 0 2.5em 0;
}
legend {
  margin: 0 0 0.25em 0;
  font-size: 1.14em;
  padding: 0 0 1em 0;
}
label {
  display: block;
  margin: 0 0 0.25em 0;
}
button:hover {
  cursor: pointer;
}
.button,
input,
textarea,
button {
  border: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
a.button,
button,
input[type=submit] {
  background: #24c0eb;
  border: 0;
  color: #ffffff;
  width: auto;
}
/*
	Set styles for full forms
	(sets of inputs/labels should always be encased in an ordered list for example)
	*/
form ol {
  margin: 0;
  list-style: none;
}
form li {
  position: relative;
}
.button,
input,
textarea {
  display: block;
  width: auto;
  margin: 0 0 1em 0;
  padding: 0.5em 15px;
  font-size: 1em;
  line-height: 1.3em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #000000;
}
/*================
Images
==================*/
figure {
  margin: 0 0 1em 0;
}
figure img {
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  border: 0;
  margin: 0 0 1em 0;
}
.visual-hide {
  text-indent: -90000px;
  height: 0;
  position: absolute;
  overflow: hidden;
}
.hide {
  display: none;
}
.clear {
  clear: both;
  display: block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* Start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* Close commented backslash hack */
.replaced {
  display: block;
  text-indent: -900000px;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
}
body {
  margin: 0;
  border-top: solid 42px #333333;
  background: #ffffff url(../images/diamond.png);
}
#wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
  position: relative;
}
nav ul {
  height: 40px;
  list-style: none;
}
nav ul li {
  float: left;
  padding: 0 0.5em;
}
.page-header,
.primary-nav {
  margin: 40px auto;
}
.page-header {
  text-align: center;
}
.page-header small {
  font-size: 1.2em;
}
.page-title {
  color: #24c0eb;
  margin: 0;
}
.primary-nav {
  max-width: 550px;
  padding: 0;
  background: #24c0eb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.primary-nav ul {
  width: 60%;
  float: left;
  padding: 0 20%;
  margin: 0;
  height: 60px;
}
.primary-nav ul li {
  display: block;
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
}
.primary-nav ul a {
  display: block;
  text-align: center;
  color: #ffffff;
  line-height: 60px;
  vertical-align: middle;
  font-size: 1.25em;
}
.primary-nav ul a:hover {
  color: #333333;
}
.cms-tools,
.social-media {
  position: absolute;
  top: -82px;
}
.cms-tools ul,
.social-media ul {
  margin: 0;
  padding: 0;
}
.cms-tools li,
.social-media li {
  float: left;
  padding: 0 20px;
}
.cms-tools a,
.social-media a {
  line-height: 40px;
  font-size: 0.8em;
  color: #ffffff;
}
.cms-tools a:hover,
.social-media a:hover {
  color: #24c0eb;
}
.cms-tools {
  left: 0;
}
.social-media {
  right: 0;
}
.copy {
  margin-top: 2em;
}
.page-footer {
  margin: 4em 0 2em 0;
}
.colophon {
  background: #24c0eb;
  color: #ffffff;
  padding: 1em;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
}
.colophon p {
  margin: 0;
}
.colophon a {
  color: #ffffff;
  text-decoration: underline;
}
.p-title {
  font-size: 3em;
  border-bottom: solid 1px grey;
  margin: 1em 2em;
  padding: 0 0 0.5em 0;
  text-align: center;
  text-transform: uppercase;
}
.p-date {
  text-align: center;
  line-height: 1em;
  margin-bottom: 2em;
}
.p-body {
  padding: 0 2em;
}
.p-body p:first-child {
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 1.4em;
  text-align: center;
  margin-left: -2em;
  margin-right: -2em;
}
.p-comments {
  border-top: solid 1px grey;
  margin: 4em -2em 0 -2em;
  padding: 2em 0 0 0;
}
.column {
  width: 40%;
  margin: 0 5%;
  float: left;
}
.profile-images img {
  width: 45%;
  margin: 2.5%;
  float: left;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.cms-post textarea {
  height: 40em;
}
.cms-list {
  width: 100%;
}
.cms-list th {
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
}
.cms-list tr {
  border-bottom: dotted 1px #333333;
}
.cms-list td {
  padding: 1em 0;
}
.cms-list td form,
.cms-list td input {
  margin: 0;
}
.cms-list .button,
.cms-list input[type=submit],
.cms-list button {
  float: left;
  margin-right: 1em;
}
@media screen and (max-width: 1200px) {
  
}
@media screen and (max-width: 800px) {
  .column {
    width: 47%;
    margin-left: 2%;
    margin-right: 0;
  }
  .column:nth-of-type(odd) {
    margin-right: 2%;
  }
}
@media screen and (max-width: 600px) {
  .p-title,
  .p-body p:first-child,
  .p-comments {
    margin-left: 0;
    margin-right: 0;
  }
  .page-header {
    background: #ffffff;
    padding: 1em;
    margin: 0 -1em;
  }
  .primary-nav {
    margin: 0 -1em;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
  .primary-nav ul {
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }
  .primary-nav a.current,
  .primary-nav a:hover {
    background: #ffffff;
    color: #333333;
  }
  .page-footer {
    margin: 0 -1em;
  }
  .column {
    width: 100%;
    float: none;
    margin: 0;
  }
}
@media print {
  
}
