/**
 * Post layout
 */

    .post{
        box-sizing:border-box;
        font-size:1.2em;
    }

        .post-header{
            margin-bottom:$raw-gutter;
            padding:0 $raw-gutter ($raw-gutter * 2) 0;
            color:$blue;
        }
            .post-title{
                a{
                    text-decoration:none;
                }
                line-height:1em;
                margin-bottom:0.25em;
            }

            .post-meta{
                padding-left:1em;
                border-left:solid 1px $grey;
                font-size:0.9em;
                color:$grey;
            }

            .post-content{
                & p:first-child{
                    font-size:1.4em;
                    font-style:italic;
                }
                img{
                    max-width:100%;
                    margin:$raw-gutter 0;
                    border-radius:2px;
                }
            }

            .post-content,
            .post-footer{
                margin:0 auto;
            }

            .post-share{
                h4,
                .post-share-icon{
                    float:left;
                    margin:0 $raw-gutter 0 0;
                    line-height:40px;
                    vertical-align:middle;
                    text-decoration:none;
                    font-size:1.5em;
                }
            }

        .post-footer{
            font-size:0.9em;
            color:lighten($black, 30);
        }
            .full-post{
                margin-top:10px;
            }
            .post-share{
                font-size:0.9em;
            }

    .pagination{
        margin:40px auto 0 auto;
    }

.post-template{
    .post-title{
        margin-top:0;
    }
    .post{
        margin-bottom:60px;
    }
}

/**
 * Modernizr hooks
 */

/**
 * Media queries
 */
     @include breakpoint(mobile) {
        .post-title{
            font-size:2.5em;
        }
    }

/**
 * IE overrides
 */
