/**
 * Post layout
 */

    .post{
        box-sizing:border-box;
        font-size:1.2em;
        margin-top:100px;
    }

        .post-header{
            margin-bottom:$raw-gutter;
            padding:0 $raw-gutter $raw-gutter 0;
            border-bottom:solid 1px $blue;
            text-align:center;
            color:$blue;
        }
            .post-title{
                a{
                    text-decoration:none;
                }
                line-height:1;
                margin-bottom:$raw-gutter;
            }

            .post-meta{
                font-size:0.9em;
                color:$grey;
            }

            .post-content{
                & p:first-child{
                    font-size:1.4em;
                    font-style:italic;
                }
                img{
                    max-width:100%;
                    border-radius:2px;
                }
            }

            .post-content,
            .post-footer{
                margin:0 auto;
            }

            .post-share{
                h4,
                a{
                    float:left;
                    margin:0 $raw-gutter 0 0;
                    line-height:40px;
                    vertical-align:middle;
                }
                a{
                    text-decoration:none;
                    font-size:1.5em;
                }
            }

        .full-post{
            display:block;
            margin-top:10px;
            font-size:0.9em;
        }

    .pagination{
        margin:40px auto 0 auto;
    }

.post-template{

    .post-title{
        margin-top:0;
    }

}
