/* Web Fonts */
@font-face {
  font-family: 'ModernPictogramsNormal';
  src: url('fonts/modernpics/modernpics-webfont.eot');
  src: url('modernpics-webfonfonts/modernpics/t.eot?#iefix') format('embedded-opentype'),
       url('fonts/modernpics/modernpics-webfont.woff') format('woff'),
       url('fonts/modernpics/modernpics-webfont.ttf') format('truetype'),
       url('fonts/modernpics/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* HTML5 Boilerplate ==|== normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 15px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #33add6; color: #fff; text-shadow: none; }
::selection { background: #33add6; color: #fff; text-shadow: none; }

a { color: #33add6; }
a:visited { color: #33add6; }
a:hover { color: #33add6; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #33add6; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

input[type="text"], input[type="password"], textarea { padding: 0.385em; margin-bottom: 0.385em; }
form fieldset .property input.medium { width: 7.692em; }
form fieldset .property input.small { width: 3.077em; }
form fieldset .property { line-height: 1.5em; }

/* ==|== primary styles =====================================================
   Author: Jimmy Hillis (ppjim3@gmail.com / @ppjim3)
   ========================================================================== */

/* == Typography == */
body {
  font-family: 'Liberation Sans', 'Helvetica','Arial',sans-serif;
  font-weight: 100;
  line-height: 1.2em;
}
h1 {
  font-size: 3em;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color:#222;
  text-transform:uppercase;
}
h2 {
  font-size:2em;
	margin:0;
	padding:0;
	display: inline-block;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
h3 {

}
/* == Forms and inputs == */
.title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  background: #33add6;
  border-radius: 3px;
  padding: 5px 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.button {
  text-transform: uppercase;
  font-weight: normal;
  font-size:16px;
  color: #fff;
  background: #aaa;
  border-radius: 3px;
  padding: 5px 10px;
  border: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.button:hover {
  background: #888
}
/* == Structure == */
#colophon {
  postion: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #222;
  color: #fff;
  line-height:40px;
  text-align:center;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=9);
  -webkit-box-shadow: 0px 5px 8px 0px #bbb; 
  -moz-box-shadow: 0px 5px 8px 0px #bbb; 
  box-shadow: 0px 5px 8px 0px #bbb;
}
header {
  text-align:center;
}
#mainwrap {
  background: #eee url(img/bg.png);
  margin: 30px auto;
  width: 90%;
  min-width: 400px;
  padding: 2%;
  border-radius: 3px;
}
#content {
  margin: 2%;
  padding: 2%;
  background: #ddd;
  font-size: 0.9em;
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
}
/* == SERIES DISPLAY == */
#records { 
	width: 30%; 
	float: left; 
}
#records ul {
	list-style:none;
	padding-left:0;
}
	#records li { 
		margin-bottom:5px;
		padding-bottom:5px;
		padding-left:5px;
	}
  #records li .comics {
    color:#555;
  }
#records .icon {
  font-size:18px;
}
.deleteAction {
  cursor:pointer;
}

/* == ADD FORMS == */
#add_record {
  width: 65%;
  margin-left:32%;
}
#add_record fieldset {
  float: left;
  width: 45%;
  margin-right: 5%;
  margin-bottom: 5%;
}
#storage_options { width:100%!important; }
#add_record label {
  display: block;
  padding: 3px 0;
  color: #000;
}
#add_record label:after {
  content: ':'
}
footer {
  display:block;
  width:90%;
  margin: 0 auto 30px auto;
}
#social_columns {
  height:100%;
  overflow:hidden;
  zoom:1;
  border-top: dashed 1px #eee;
  border-bottom: dashed 1px #eee;
}
.social_column {
  width: 30%;
  margin-right:3%;
  float: left;
  position: relative;
}
.social_column .icon { 
  display: block;
  float: left; 
  margin: 7px 5px 0 0;
  font-family: 'ModernPictogramsNormal';
  font-size:43px; 
}

#licensing { padding-top: 20px; }

.icon { 
  font-family: 'ModernPictogramsNormal'; 
  line-height:1em; 
}
/* == Contact widget == */
#avatar { with: 75px; height: 75px; float: left; margin-right:10px; border-radius: 3px; } 

/* == Twitter widget == */
#twitter ul { list-style: none; padding-left: 0; }
#twitter li { padding-bottom: 10px; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 0.077em; margin: -0.077em; overflow: hidden; padding: 0; position: absolute; width: 0.077em; } 
/* { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; } */

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 36.923em) { /* 480px */
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 59.077em) {  /* 768px */
  /* Style adjustments for viewports 768px and over go here */

}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; border: 0 !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	pre, blockquote { border: 0.077em solid #999; page-break-inside: avoid; } /* 1px */
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	h1 { font-size: 3em !important; position: relative !important; margin: 0 !important; padding: 0 !important; display: block; left: auto !important; top: auto !important; right: auto !important; bottom: auto !important; }
	#main { padding: 0; }
	#back_to_top,
	#content_frame,
	header,
	footer,
	#main_menu,
	#login,
	#thirty_years { display: none; }  
}