extends ../base

block copy
	.current
		h2 Current Posts
		ul
			each post in posts
				li
					a(href='post/#{post.name}') #{post.title} #{post.date}
					a.icon-delete(href='post/#{post.name}?_method=delete'): span [delete]
	block edit
		.new
			h2 New Post
			include form
