extends ../base
include mixins

block copy
	.copy.clearfix
		mixin singlepost(post)
		//- nav.post-navigation
		//- 	ul
		//- 		li.next
		//- 			a(href='#') Next post
		//- 		li.prev
		//- 			a(href='#') Previous post
