.p-title,
.p-body p:first-child,
.p-comments{
    margin-left:0;
    margin-right:0;
}

.page-header{
    background:@white;
    // color:@white;
    padding:1em;
    margin:0 -1em;
}

.primary-nav{
    max-width:none;
    margin:0 -1em;
    .border-radius(0);
    ul{
        margin:0 auto;
        width:100%;
        padding:0;
    }
        a.current,
        a:hover{
            background:@white;
            color:@black;
        }
}

.page-footer{
    margin:0 -1em;
}

.column{
    width:100%;
    float:none;
    margin:0;
}

.p-comments{
    // border-top:solid 1px grey;
    // width:70%;
    // font-size:3em;
    font-size:1em;
    padding:2em;
    margin-left:0;
    margin-right:0;
}
